
h1 {
    color: #27aedb;
    text-align: center;
}

.message {
    position: absolute;
    background-color: #ccc;
    left:45%;
    top:50%;
}
.message button{
float: right;
}
.message p{
clear: both;
}
.alert{
    margin: 1rem;
}
.card{
    height: 100%;
}
.card-footer{
    background-color: transparent;
    border-top: 0px;
}
.catalog-item-size.unavailable{
    pointer-events: none;
    text-decoration: line-through;

}
  
.catalog-item-size:not(.unavailable):hover {
    background: #727e86;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
  }
/*
  .image-container {
      height: 200px;
  }
  .image-container img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }*/
  .image-container{

    width: 100%;
    /* height: 85%; */
    text-align: center;

  }

  .img-fluid{
    height: 256px;
    min-height: 256px;
    width: auto;
    margin: auto;
  }
  .catalog-item .img-fluid{
    height: auto;
    width: 100%;
  }
  .banner .img-fluid{
    width: 100%;
    height: auto;
  }
  .row:not(:first-child){
      margin-top: 25px; 
  }
  