body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  font-family: 'Mina', sans-serif;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#app > div {
  width: 250px;
  margin: 10px;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid rgba(69, 115, 152, 0.99);
  padding: 5px;
}
