.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.notes-wrapper{
  margin: 50px;
}
.inline-button{
  display: inline-block;
  margin: 0px 20px;
}
.note{
  display: inline-block;
  max-width: 350px;
  border: 2px dotted #ccc;
  margin: 10px;
}
.note p{
  clear: both;
  margin: 20px;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}
.note-btn-delete{
  float: right;
  margin: 5px;
}
.note-add{
  margin: 50px 0px;
}
.note-add textarea{
  border: 2px dotted #ccc;
}
.small{
  font-size: 0.6em;
  color: #ccc;
}
.note-container *{
  vertical-align: text-top;
}