.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
}
ul li {
  margin: 5px;
  padding: 5px
}
.item-price{
  margin: 0px 10px;
  font-weight: bold;
  font-style:  italic;
}

.loading {
  position: absolute;
  z-index: 1000;
  border: 2px solid #ccc;
  left:45%;
  top:50%;
}
.message {
  position: absolute;
  background-color: #ccc;
  left:45%;
  top:50%;
}
.message button{
  float: right;
}
.message p{
  clear: both;
}
